<p class="expand-text">
{{text}}
</p>
<div class="expand-fader hidden">
  <a href="#" class="expand-button btn btn-mini js-expand">
    <i class="icon-plus"></i><span class="text">Expand</span>
  </a>
</div>
