<div class="alert alert-error error-messages">
  <a class="close" data-dismiss="alert" href="#">x</a>
  <strong>Oh crap, you broke it</strong>
  <p>Fix this stuff and we can get on with business.</p>
  <ul class="errors">
    {{#each errors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
