<form class="form-horizontal">
  <h3 class="form-title hide"></h3>
  <div class="other-errors">
  </div>
  {{{fieldsets}}}
  <footer class="form-footer hide">
    <div class="example">
      <span class="fake-input"></span>
      <span class="required">are required</span>
    </div>
  </footer>
  <div class="form-actions">
    <button class="btn js-cancel">Cancel</button>
    <button type="submit" class="btn btn-primary js-save"
      data-loading-text="Saving...">Save</button>
  </div>
</form>
