<div class="control-group">
  <label class="control-label" for="{{id}}">{{title}}</label>
  <div class="controls">
    <div class="input-xlarge input-append kalendae-wrapper">
      {{{editor}}}
      <i class="add-on icon-calendar"></i>
      <input type="text" class="time-field" name="time"
        placeholder="e.g. 3:30pm">
    </div>
    <div class="help-block">{{{help}}}</div>
  </div>
</div>
